<p>
    <mat-toolbar class="color-mat">
        <button [routerLink]="'/pages/home'" style="background-color: black; border: 0px;"><img class="img"
                src="./assets/img/The_Mesquite.png" /></button>

        <!-- <mat-icon>menu</mat-icon> -->
        <!-- <span>My App</span> -->
        <span class="example-spacer"></span>
        <button class="button-ico" mat-icon-button class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button class="button-ico" mat-icon-button class="example-icon"
            aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</p>